<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.math.exam">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/math_logo_app"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="MathApp">
        <meta-data
            android:name="APP_ID"
            android:value="92e45510ea5ac7295861d76a93ba16f1" />
        <meta-data
            android:name="APP_PID"
            android:value="yingyongbao" />

        <activity android:name=".activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.HomePageActivity"/>
        <activity android:name=".activity.AboutActivity"/>
    </application>

</manifest>